body {
    background-color: powderblue;
}

#fishTank {
    border: 5px solid red;
}

.fishCard {
    display: flex;
    flex: 3;
   flex-wrap: wrap;
    margin: 1em;
    background-color: white;
}

.fish-image {
    width: 100%;
    height: auto;
}